
@{
    ViewData["Title"] = "MenuEstudiante";
}

<h1 style="text-align:left">Menú principal estudiante</h1>
<div class="row">
</div>

<ul class="navbar navbar-expand-sm bg-dark navbar-dard sticky-top">

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="https://localhost:5001/Estudiante/MenuEstudiante?">Menu Estudiante</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="PagosMatriculas">Pagos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:white" href="Perfil">Ingresar y actualizar</a>
    </li>

</ul>

<br />




