@{
    ViewData["Title"] = "MenuCoordinador";
   
}

<br />
<h1 style="text-align:left">Menú principal coordinador</h1>
<div class="row">
</div>

<ul class="navbar navbar-expand-sm bg-dark navbar-dard sticky-top">

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="https://localhost:5001/Coordinador/MenuCoordinador">Menu Coordinador</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="ConsultarEstudiante">Buscar estudiante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:white" href="ProgramarAsignatura">Programar asignatura</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:white" href="Homologar">Homologar asignatura</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" style="color:white" href="EntrevistaAdmicion">Generar entrevista</a>
    </li>

</ul>

<br />




